<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va/ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA7AIAAAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHpob2xkYXMABwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24kAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQgMi54Y3dvcmtzcGFjZRQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAAC0wBgAAAAAACAAAAAQDAAA2
		ggYAAAAAAAgAAAAEAwAAO4IGAAAAAAAIAAAABAMAAJCmDQAAAAAACAAAAAQD
		AAAZG2YAAwAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEHBTzeUyWCXGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLw0AAAAB
		AQAATWFjaW50b3NoIFNTRAAAAAgAAAAEAwAAAMAW5hsAAAAIAAAAAAQAAEG+
		Zrr8AAAAJAAAAAEBAAA0OTc2MkY3RC0yOUQ4LTMxRTAtOTY1NS03MTkyQzYz
		REZBQTMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
		LwAAAAAAAAABBQAA6gAAAAECAAAyMGNhNmFjYWI4OWYzODE5ZTJmZGIxNjAx
		YzU2NjllZTcyZTNhYzM2OzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAw
		OzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQt
		d3JpdGU7MDE7MDEwMDAwMDQ7MDAwMDAwMDMwMDY2MWIxOTswMTsvdXNlcnMv
		emhvbGRhcy9saWJyYXJ5L2F1dG9zYXZlIGluZm9ybWF0aW9uL3Vuc2F2ZWQg
		eGNvZGUgZG9jdW1lbnQgMi54Y3dvcmtzcGFjZQAAAMwAAAD+////AQAAAAAA
		AAAQAAAABBAAAHwAAAAAAAAABRAAAOgAAAAAAAAAEBAAABQBAAAAAAAAQBAA
		AAQBAAAAAAAAAiAAAOQBAAAAAAAABSAAAFABAAAAAAAAECAAAGABAAAAAAAA
		ESAAAJgBAAAAAAAAEiAAAHgBAAAAAAAAEyAAAIgBAAAAAAAAICAAAMQBAAAA
		AAAAMCAAAPABAAAAAAAAAcAAADQBAAAAAAAAEcAAABQAAAAAAAAAEsAAAEQB
		AAAAAAAAgPAAAPgBAAAAAAAA
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2019-05-29T07:41:29Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
